extends layout

block content
  h1= 'Ice Hockey History In Winter Olympic Games'
  p The first Olympic ice hockey tournament took place at the 1920 Summer Olympics in Antwerp, Belgium. The IIHF considers the 1920 tournament to be the first Ice Hockey World Championship.
  p The Olympic Games were originally intended for amateur athletes, so the players of the National Hockey League (NHL) and other professional leagues were not allowed to play.
  img(src="https://uvmbored.com/wp-content/uploads/2018/02/olympics.jpg")
