doctype html
html
  head
    title= 'Ice Hockey statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home page - Ice Hockey In the Winter Olympic Games
    br
    a(href='/Medalist') Ice Hockey Gold Medalist Winners In Winter Olympics
    br
    a(href='/Winterolympics') Best Scorers

    block content
